body {
    font-family: montserrat;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); 
    background-size: cover;
    background-position: center;

}

.result-container {
    height: 30vh;
    width: 25%;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(80px);
}

h1 {
    color: #000;
}

p {
    font-size: 30px;
    color: royalblue;
    font-weight: 600;
    text-align: center;
}

#score {
    font-size: 2rem;
    color: #27ae60;
    margin-bottom: 20px;
}
